@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
  --th-font-family: 'Roboto Condensed', sans-serif;
  --th-font-weight-light: 300;
  --th-font-weight-normal: 400;
  --th-font-weight-medium: 500;
  --th-font-weight-bold: 700;
  --th-font-body-size: 16px;
  --th-fontsize-h1: 2, 5rem;
  --th-fontsize-h2: 2rem;
  --th-fontsize-h4: 14px;
  --th-fontsize-p: 14px;
  --th-fontsizefootermobile: 12px;
  --th-fontsizenav: 18px;
  --ts-background: #000000;
}


html.light:root {
  --ts-background-color: #f7f7f0;
  --ts-titre-color: #000000;
}
html.dark:root {
  --ts-background-color: #000000;
  --ts-titre-color: #f7f7f0;
}

body .container{
  background-color: var(--ts-background-color) !important;
}

body .titre, .nav-menu ul li{
  color: var(--ts-titre-color);
}

.form-select{
      width: auto !important;
}
